<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/icon.png">
    <title>2Chez Restaurant</title>

    <link
        href='http://fonts.googleapis.com/css?family=Quicksand:300|Josefin+Slab'
        rel='stylesheet'
        type='text/css'>

    <link href="./public/stylesheets/main.css" rel="stylesheet">
    <link href="./public/stylesheets/directives.css" rel="stylesheet">
    <link href="./public/stylesheets/welcome.css" rel="stylesheet">
    <link href="./public/stylesheets/hours.css" rel="stylesheet">
    <link href="./public/stylesheets/find_us.css" rel="stylesheet">

  </head>

  <body ng-app="twochez" ng-controller="AppController">

    <section class="welcome welcome--bg full-vh pd-near">
      <div class="welcome--intro row scrim mg-top-far">
        <h1 class="welcome--header t-center mg-top-none">
          <span class="welcome--header-span">2</span>Chez
        </h1>
        <h2 class="t-center">Casual Fine Dining</h2>
        <p>
          At 2Chez, we create authentic, rustic dishes inspired by classic, old-world flavors. Every dish is hand-crafted from scratch with carefully selected ingredients. This is the kind of food that is meant to be shared over a bottle of good wine with even better friends.
        </p>
      </div>
    </section>

    <section ng-controller="MenuController">
      <h1 class="t-center mg-bottom-near" ng-show="menus.length" ng-cloak>
        Menu
      </h1>

      <div>
        <!-- Mobile View -->
        <div ng-hide="device.isDesktop()">
          <div class="menu--bg" >
            <a
              href=""
              ng-repeat="menu in menus"
              ng-click="selectMenu(menu)">
              <h2 class="pd-near side-gradient">
                {{ menu }}
              </h2>
            </a>
          </div>
          <chezmenu
            ng-repeat="menu in menus"
            ng-show="isSelectedMenu(menu)"
            menu-items="menuItems"
            menu-name="{{ menu }}">
          </chezmenu>
        </div>

        <!-- Desktop View -->
        <div ng-show="device.isDesktop()">
          <ul class="pd-none">
            <li
              class="h2 menu--tabs-li t-center"
              ng-class="{active: isSelectedMenu(menu)}"
              ng-repeat="menu in menus">
              <a href="" ng-click="selectMenu(menu)">
                {{ menu }}
              </a>
            </li>
          </ul>

          <chezmenu
            ng-repeat="menu in menus"
            ng-show="isSelectedMenu(menu)"
            menu-items="menuItems"
            menu-name="{{ menu }}">
          </chezmenu>
        </div>
      </div>
    </section>

    <section class="hours--bg">
      <div class="side-gradient hours--gradient pd-near">
        <div class="row">
          <h1 class="mg-top-none">Hours</h1>
          <h2>Lunch</h2>
          <p class="remove-bottom-margin">Monday - Friday</p>
          <p>11am - 2pm</p>
          <h2>Dinner</h2>
          <p class="remove-bottom-margin">Monday - Thursday</p>
          <p>5 - 9pm</p>
          <p class="remove-bottom-margin">Friday &amp; Saturday</p>
          <p>5 - 10pm</p>
          </div>
      </div>
    </section>

    <section class="pd-near pd-top-far pd-bottom-far row t-center">
      <h2>Reservations</h2>
      <p>
        Give us a call at 309.691.2224 to make your reservation. We answer between 10am and 10pm every day except Sunday.
      </p>
      <a
        ng-hide="device.isDesktop()"
        href="tel:+13096912224"
        class="btn-info mg-top-near">
        Call Now
      </a>

      <h2 class="t-center">Private Parties & Catering</h2>
      <p>
        Let 2Chez make your next party an unforgettable one. Call or email Todd to ask about availability, menu options, and pricing.
      </p>
      <p class="t-center">
        Email:
        <a
          href="mailto:toddhohulin@mchsi.com"
          class="email"
          ng-show="device.isDesktop()">
          toddhohulin@mchsi.com
        </a> or Call: 309.691.2224.
      </p>
      <a
        ng-hide="device.isDesktop()"
        href="mailto:toddhohulin@mchsi.com"
        class="email btn-info mg-top-near">
        Email Todd
      </a>
    </section>

    <footer class="footer--bg pd-far">
      <p class="t-center copyright">
        Copyright 2017 TCSI, Inc.<br/>
        Built by
        <a href="https://twitter.com/zachpflederer">
          @zachpflederer
        </a>and
        <a href="https://twitter.com/DavidLCrow">
          @DavidLCrow
        </a>.
      </p>
    </footer>


    <script src="./public/js/bower_components/underscore/underscore-min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
    <script src="./public/js/bower_components/angular/angular.min.js"></script>
    <!-- Load Angular -->
    <script src="./public/js/angular/app.js"></script>
    <!-- Filters -->
    <script src="./public/js/angular/filters/strip_dashes.js"></script>
    <!-- Services -->
    <script src="./public/js/angular/services/media_query_service.js"></script>
    <script src="./public/js/angular/services/chez_api.js"></script>
    <!-- Controllers -->
    <script src="./public/js/angular/controllers/app_controller.js"></script>
    <script src="./public/js/angular/controllers/menu_controller.js"></script>
    <!-- Directives -->
    <script src="./public/js/angular/directives/chez_menu.js"></script>
  </body>
</html>
