<section class="inner">
    
    <section class="welcome-header">
        <h1 class="dashboard-greeting">
            Hi, <%= @user.capitalize %>.
        </h1>
        <p>
            Instructions go here.
        </p>
        <form action="/menu" method="post">
            <div class="row">
                <input class="col-xs-12 col-md-6" name="" label="" type="text" placeholder="Menu (e.g. Lunch, Dinner, Wine List)">
                <input class="col-xs-12 col-md-6" name="" label="" type="text" placeholder="Category (e.g. Starters, Salads, Interesting Reds)">
                <input class="col-xs-12 col-md-6" name="" label="" type="text" placeholder="Name (e.g. Silver Oak Cab, Filet & Blue, Calimari">
                <input class="col-xs-12 col-md-6" name="" label="" type="text" placeholder="Description">
                <input class="col-xs-12 col-md-6" name="" label="" type="text" placeholder="Price">
                <input type="submit">
            </div>
        </form>
    </section>
    
    <%= erb(:menu, :layout => false) %>

</section>

<!-- 

Goals for this page:

- Be accessible only through a successful login
- Redirect to login page if accessed by non-logged-in user
- Allow admin to create MenuItems
- Display current MenuItems, organized by menu (lunch, dinner, etc.)
- Allow admin to edit existing MenuItem properties
- Allow admin to destroy MenuItems, with confirmation prompt

-->