<section class="inner content admin-content">
    
    <section class="welcome-header">
        <h1 class="dashboard-greeting">
            Hi, <%= @user.capitalize %>.
        </h1>
            <div class="row">
                <div class="col-xs-12 col-md-4 admin-form">
                    <form action="/menu" method="post" id="add-item">
                        <input class="col-xs-12 admin-form" name="name" label="name" type="text" placeholder="Item name">
                        <input class="col-xs-12 admin-form" name="description" label="description" type="text" placeholder="Item description">
                        <input class="col-xs-12 admin-form" name="price" label="price" type="text" placeholder="Item price">
                        <select class="col-xs-12 admin-form" name="menu" label="menu">
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Dinner</option>
                            <option value="small-plates">Small Plates</option>
                            <option value="wine">Wine</option>
                            <option value="cocktails">Cocktails</option>
                        </select>
                        <select class="col-xs-12 admin-form" name="category" label="category">
                            <option value="beef">Beef</option>
                            <option value="chicken">Chicken</option>
                            <option value="lamb">Lamb</option>
                            <option value="pork">Pork</option>
                            <option value="salads">Salads</option>
                            <option value="sandwiches">Sandwiches</option>
                            <option value="seafood">Seafood</option>
                            <option value="small plates">Small Plates</option>
                            <option value="starters">Starters</option>
                            <option value="veal">Veal</option>
                            <option value="whites">Whites</option>
                            <option value="reds">Reds</option>
                            <option value="cocktails">Cocktails</option>
                        </select>
                        <button value="submit" name="submit" type="submit" class="col-xs-12 admin-form btn btn-lg btn-success">
                            add item
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h2>Instructions</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptate, dolorem eius cupiditate eligendi explicabo saepe omnis architecto impedit in fugiat officia at quas dolorum rerum molestiae deserunt fuga numquam.
                    </p>
                </div>
            </div>
    </section>
</section>

    
    <%= erb(:menu, :layout => false) %>


<!-- 

Goals for this page:

- Be accessible only through a successful login
- Redirect to login page if accessed by non-logged-in user
- Allow admin to create MenuItems
- Display current MenuItems, organized by menu (lunch, dinner, etc.)
- Allow admin to edit existing MenuItem properties
- Allow admin to destroy MenuItems, with confirmation prompt

-->