<section class="inner content admin-content">
    
    <section class="welcome-header">
        <h1 class="dashboard-greeting">
            Hi, <%= @user.capitalize %>.
        </h1>
            <h3 id="add-msg"></h3>
            <div class="row">
                <div class="col-xs-12 col-md-4 admin-form">
                    <form action="/menu" method="post" id="add-item">
                        <input class="col-xs-12 admin-form" name="name" label="name" type="text" maxlength="30" placeholder="Item name">
                        <input class="col-xs-12 admin-form" name="description" label="description" type="text" maxlength="255" placeholder="Item description">
                        <input class="col-xs-12 admin-form" name="price" label="price" type="number" placeholder="Item price">
                        <select onChange="filterCategories(this)"class="col-xs-12 admin-form" name="menu" label="menu">
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Dinner</option>
                            <option value="small-plates">Small Plates</option>
                            <option value="wine">Wine</option>
                            <option value="cocktails">Cocktails</option>
                        </select>
                        <select class="col-xs-12 admin-form" id="lunch-cats" name="lunch_category" label="category">
                            <option value="beef">Beef</option>
                            <option value="chicken">Chicken</option>
                            <option value="salads">Salads</option>
                            <option value="sandwiches">Sandwiches</option>
                            <option value="seafood">Seafood</option>
                            <option value="starters">Starters</option>
                        </select>
                        <select style="display: none" class="col-xs-12 admin-form" id="dinner-cats" name="dinner_category" label="category">
                            <option value="beef">Beef</option>
                            <option value="chicken">Chicken</option>
                            <option value="lamb">Lamb</option>
                            <option value="pork">Pork</option>
                            <option value="salads">Salads</option>
                            <option value="seafood">Seafood</option>
                            <option value="starters">Starters</option>
                            <option value="veal">Veal</option>
                        </select>
                        <select style="display: none" class="col-xs-12 admin-form" id="wine-cats" name="wine_category" label="category">
                            <option value="pinot-noir">Pinot Noir</option>
                            <option value="merlot">Merlot</option>
                            <option value="cabernet-sauvignon">Cabernet Sauvignon</option>
                            <option value="interesting-reds">Interesting Reds</option>
                            <option value="bubbly">Bubbly</option>
                            <option value="chardonnay">Chardonnay</option>
                            <option value="Pinot Grigio">Pinot Grigio</option>
                            <option value="sauvignon-blanc">Sauvignon Blanc</option>
                            <option value="interesting-whites">Interesting Whites</option>
                        </select>
                        <select style="display: none" class="col-xs-12 admin-form" id="general-cat" name="general_category" label="category">
                            <option value="general">General</option>
                        </select>
                        <button value="submit" name="submit" type="submit" class="col-xs-12 admin-form btn btn-lg btn-success">
                            add item
                        </button>
                    </form>
                </div>
                <div class="col-xs-12 col-md-8">
                    <h2>Instructions</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, voluptate, dolorem eius cupiditate eligendi explicabo saepe omnis architecto impedit in fugiat officia at quas dolorum rerum molestiae deserunt fuga numquam.
                    </p>
                </div>
            </div>
    </section>
</section>

    
    <%= erb(:menu, :layout => false) %>


<!-- 

Goals for this page:

- Be accessible only through a successful login
- Redirect to login page if accessed by non-logged-in user
- Allow admin to create MenuItems
- Display current MenuItems, organized by menu (lunch, dinner, etc.)
- Allow admin to edit existing MenuItem properties
- Allow admin to destroy MenuItems, with confirmation prompt

-->