<section id="contact" class="homeSlide">
	<div class="bcg"
	data-bottom="background-position: 50% 0px;"
	data-top-bottom="background-position: 50% -200px;"
	data-anchor-target="#contact">
		<div class="hsContainer">
			<div class="hsContent">
				<div class="plaxEl"
				data-bottom="opacity: 0; top: 206px; width: 100%; left: 0;"
				data-center="opacity: 1;"
				data-anchor-target="#contact">
					<h2>Contact Us</h2>
					<h3>2Chez</h3>
					<p class="remove-bottom-margin">7815 N Knoxville Ave</p>
					<p>Peoria, IL 61614</p>
					<!-- <a href="https://goo.gl/maps/NXjvU" class="col-xs-12 col-md-2 btn btn-lg btn-info">get directions</a> -->
					<a href="tel:+13096912224" class="pull-right col-xs-12 col-md-2 btn btn-lg btn-info phone">call 309.691.2224</a>
					<a href="mailto:toddhohulin@mchsi.com" class="pull-right col-xs-12 col-md-2 btn btn-lg btn-info">email us</a>
				</div>
			</div>
		</div>   
	</div>
</section>