<section id="contact">
  <div class="bcg">
    <div class="hsContainer">
      <div class="hsContent container-fluid">
          <div class="col-lg-6 col-lg-offset-3">
            <h2 class="center">
              Reservations
            </h2>
              <div class="inner">
                <p>
                  Give us a call at 309.691.2224 to make your reservation. We answer between 10am and 10pm every day except Sunday.
                </p>
                <a
                  href="tel:+13096912224"
                  class="col-xs-12 btn btn-lg btn-info visible-xs visible-sm contact-btn">
                  Call Now
                </a>
              </div>

            <h2 class="center">Private Parties & Catering</h2>
              <div class="inner">
                <p>
                  Let 2Chez make your next party an unforgettable one. Call or email Todd to ask about availability, menu options, and pricing.
                </p>
                <p class="visible-md visible-lg center">
                  Email:
                  <a href="mailto:toddhohulin@mchsi.com" class="email">
                    toddhohulin@mchsi.com
                  </a> or Call: 309.691.2224.
                </p>
                <a class="email col-xs-12 btn btn-lg btn-info visible-xs visible-sm contact-btn" href="mailto:toddhohulin@mchsi.com">
                  Email Todd
                </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>