<section id="contact" class="homeSlide">
	<div class="bcg"
	data-center="background-position: 100% 0px;"
    data-top-bottom="background-position: 100% -100px;"
	data-anchor-target="#contact">
		<div class="hsContainer">
			<div class="hsContent">
				<!-- <div class="plaxEl"
				data-bottom="opacity: 0; top: 206px; width: 100%; left: 0;"
				data-center="opacity: 1;"
				data-anchor-target="#contact"> -->
					<h2>Find Us</h2>
					<h3>2Chez</h3>
					<p class="remove-bottom-margin">7815 N Knoxville Ave</p>
					<p>Peoria, IL 61614</p>
					<!-- <a href="https://goo.gl/maps/NXjvU" class="col-xs-12 col-md-2 btn btn-lg btn-info">get directions</a> -->
					<a href="tel:+13096912224" class="pull-right col-xs-12 col-md-2 btn btn-lg btn-info visible-xs visible-sm">
						call 309.691.2224
					</a>
					<p class="visible-md visible-lg">Call for reservation: 309.691.2224</p>
					<a href="mailto:toddhohulin@mchsi.com" class="pull-right col-xs-12 col-md-2 btn btn-lg btn-info">email us</a>
					<div class="col-xs-12 col-md-4 pull-right">
						<iframe class="col-xs-12" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3021.054494503611!2d-89.60427759999999!3d40.782816100000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880a5b391149347b%3A0x4047dfd0e21972b6!2s7815+N+Knoxville+Ave!5e0!3m2!1sen!2sus!4v1394348950841" style="border:0"></iframe>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div>
	
	<!-- <section class="footer"
	    data-bottom-top="0px">
	    <div class="bcg">
	        <div class="hsContainer">
	            <div class="hsContent">
	                <div class="inner">
	                    <p class="center copyright">Copyright <%# Time.now.year %> TCSI, Inc.<br />Built by 
	                        <a href="https://twitter.com/zachpflederer">@zachpflederer</a>
	                        and 
	                        <a href="https://twitter.com/DavidLCrow">@DavidLCrow</a>.
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>
	</section> -->
</section>