<section class="footer homeslide">
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <div class="inner">
                    <p class="center copyright">Copyright <%= Time.now.year %> TCSI, Inc.<br />Built by 
                        <a href="https://twitter.com/zachpflederer">@zachpflederer</a>
                        and 
                        <a href="https://twitter.com/DavidLCrow">@DavidLCrow</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


