<footer>
    <div class="bcg">
        <div class="hsContainer">
            <div class="hsContent">
                <div class="inner">
                <p class="center">copyright TCSI, Inc. | site design by 
                    <a href="https://twitter.com/zachpflederer">@zachpflederer</a>
                     and 
                     <a href="https://twitter.com/DavidLCrow">@DavidLCrow</a>.
                 </p>
            </div>
        </div>
    </div>
</footer>