<section id="hours" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#hours">
        <div class="hsContainer">
            <div class="hsContent">
                <div class="plaxEl"
                    data-bottom="opacity: 0;"
                    data-center="opacity: 1;"
                    data-anchor-target="#hours">
                    <h1>Hours</h1>
                    <h2>Lunch</h2>
                      <p class="remove-bottom-margin">Monday - Friday</p>
                      <p>11am - 2pm</p>
                    <h2>Dinner</h2>
                      <p class="remove-bottom-margin">Monday - Thursday</p>
                      <p>5 - 9pm</p>
                      <p class="remove-bottom-margin">Friday &amp; Saturday</p>
                      <p>5 - 10pm</p>
                </div>
            </div>
        </div>   
    </div>
</section>