
<section class="content-block push-down">

  <%= erb :menu, layout: false %>

  <section id="hours" class="homeSlide">
      <div class="bcg"
          data-center="background-position: 0px 50%;"
          data-bottom-top="background-position: 0px 40%;"
          data-top-bottom="background-position: -20px 50%;"
          data-anchor-target="#hours">
          <div class="hsContainer">
              <div class="hsContent">
                  <div class="plaxEl"
                      data-bottom="opacity: 0;"
                      data-center="opacity: 1;"
                      data-anchor-target="#hours">
                      <h2>Hours</h2>
                      <h3>Lunch</h3>
                        <p class="remove-bottom-margin">Monday - Friday</p>
                        <p>11am - 2pm</p>
                      <h3>Dinner</h3>
                        <p class="remove-bottom-margin">Monday - Thursday</p>
                        <p>5 - 9pm</p>
                        <p class="remove-bottom-margin">Friday &amp; Saturday</p>
                        <p>5 - 10pm</p>
                  </div>
              </div>
          </div>   
      </div>
  </section>

  <section id="team" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Our Team</h1>
          <p>We are a restaurant. We serve food and drinks. That's really all there is to the story. What did you expect, Garrison freakin' Keillor?!?</p>
        </div>
      </div>
    </div>
  </section>

  <%= erb :contact, layout: false %>

  <section id="map" class="homeSlide">
    <div class="bcg">
      <div class="hsContainer">
        <div class="hsContent">
          <h1>Map</h1>
            <!-- <div class="map col-xs-12 col-md-4">
              <img src="./images/final/map-frame.png" alt="map"></img>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3021.054494503611!2d-89.60427759999999!3d40.782816100000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880a5b391149347b%3A0x4047dfd0e21972b6!2s7815+N+Knoxville+Ave!5e0!3m2!1sen!2sus!4v1394348950841" style="border:0"></iframe>
            </div> -->
        </div>
      </div>
    </div>
  </section>  


  <%= erb :footer, layout: false %>

</section>