<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/icon.png">
    <title>2Chez Restaurant</title>

    <link
        href='http://fonts.googleapis.com/css?family=Quicksand:300|Josefin+Slab'
        rel='stylesheet'
        type='text/css'>

    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/directives.css" rel="stylesheet">
    <link href="/stylesheets/welcome.css" rel="stylesheet">
    <link href="/stylesheets/hours.css" rel="stylesheet">
    <link href="/stylesheets/find_us.css" rel="stylesheet">

  </head>

  <body ng-app="twochez" ng-controller="AppController">

    <%= yield %>

    <!-- Bower Files -->
    <script src="/js/bower_components/underscore/underscore-min.js"></script>
    <script src="/js/bower_components/angular/angular.min.js"></script>
    <!-- Load Angular -->
    <script src="/js/angular/app.js"></script>
    <!-- Filters -->
    <script src="/js/angular/filters/strip_dashes.js"></script>
    <!-- Services -->
    <script src="/js/angular/services/media_query_service.js"></script>
    <script src="/js/angular/services/chez_api.js"></script>
    <!-- Controllers -->
    <script src="/js/angular/controllers/app_controller.js"></script>
    <script src="/js/angular/controllers/menu_controller.js"></script>
    <!-- Directives -->
    <script src="/js/angular/directives/chez_menu.js"></script>
  </body>
</html>