<section class="login-page-wrapper">
  <div class="inner container">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <div class="container">
          <form class="form-login" role="form" action="/admin">
            <h2 class="form-login-heading">Please log in.</h2>
              <input type="name" class="form-control" placeholder="Username" required autofocus>
              <input type="password" class="form-control" placeholder="Password" required>
              <button class="btn btn-big btn-primary" type="submit">Log in</button>
          </form>  
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</section>