<section class="content push-down">
    <h1>Menu</h1>

    <ul class="menu nav nav-tabs">
      <li class="h2 active">
        <a href="#lunch" data-toggle="tab">Lunch</a>
      </li>
      <li class="h2">
        <a href="#dinner" data-toggle="tab">Dinner</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="lunch">
        <h3><a data-toggle="collapse" data-target="#appetizers">Appetizers</a></h3>
        <dl id="appetizers" class="menu collapse in">
          <dt>Calamari <span>9</span></dt>
          <dd>Peoria’s best. Served with Remoulade</dd>
          <dt>Flat Bread <span>7</span></dt>
          <dd>Flat bread drizzled with infused garlic and herb olive oil, baked with artichokes, sundry tomatoes, calamata olives, roasted red pepper, fresh mozzarella, fresh basil and pecorino romano</dd>
          <dt>Bruschetta <span>6</span></dt>
          <dd>Fresh tomatoes, garlic, and herbs on toasted baguette with a touch of balsamic reduction</dd>
          <dt>Pomme Frites <span>6</span></dt>
          <dd>Hand cut fries tossed with grated pecorino, parsley, and lemon zest served with a garlic aioli</dd>
        </dl>
      </div>
      <div class="tab-pane fade" id="dinner">This is dinner</div>
    </div>

    <div id="accordion">
      <div>
        <div>
          <h3>
            <a data-toggle="collapse" data-parent="#accordion" href="#wine-list">
              Wine List
            </a>
          </h3>
        </div>
        <div id="wine-list" class="menu panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>

  </section>