/*Spacing*/
.mg-top-near { margin-top: 1rem; }
.mg-right-near { margin-right: 1rem; }
.mg-bottom-near { margin-bottom: 1rem; }
.mg-left-near { margin-left: 1rem; }
.mg-near { margin: 1rem; }

.pd-top-near { padding-top: 1rem; }
.pd-right-near { padding-right: 1rem; }
.pd-bottom-near { padding-bottom: 1rem; }
.pd-left-near { padding-left: 1rem; }
.pd-near { padding: 1rem; }

.mg-top-far { margin-top: 2rem; }
.mg-right-far { margin-right: 2rem; }
.mg-bottom-far { margin-bottom: 2rem; }
.mg-left-far { margin-left: 2rem; }
.mg-far { margin: 2rem; }

.pd-top-far { padding-top: 2rem; }
.pd-right-far { padding-right: 2rem; }
.pd-bottom-far { padding-bottom: 2rem; }
.pd-left-far { padding-left: 2rem; }
.pd-far { padding: 2rem; }

.full-vh { height: 100vh; }

/*Text*/
.t-right { text-align: right; }
.t-left { text-align: left; }
.t-center { text-align: center; }