/*
 Globals
 */

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.msg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  position: absolute;
  top: 0;
}

.alert-modal {
  background: rgb(50,50,50);
  background: rgba(50,50,50,.65);
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

@media (min-width:320px) { 
  .down-gradient {
    background: linear-gradient(top, rgba(10,10,10,0) 200px, rgba(10,10,10,1) 400px); 
    background: -webkit-linear-gradient(top, rgba(10,10,10,0) 200px, rgba(10,10,10,1) 400px);  
    background: -webkit-gradient(top, rgba(10,10,10,0) 200px, rgba(10,10,10,1) 400px);  
    background: -moz-linear-gradient(top, rgba(10,10,10,0) 200px, rgba(10,10,10,1) 400px);  
    background: -ms-linear-gradient(top, rgba(10,10,10,0) 200px, rgba(10,10,10,1) 400px);  
    background: -o-linear-gradient(top, rgba(10,10,10,0) 200px, rgba(10,10,10,1) 400px);
  }
}
@media (min-width:481px) { 
  .down-gradient {
    background: linear-gradient(top, rgba(10,10,10,0) 255px, rgba(10,10,10,1) 410px); 
    background: -webkit-linear-gradient(top, rgba(10,10,10,0) 255px, rgba(10,10,10,1) 410px);
    background: -webkit-gradient(top, rgba(10,10,10,0) 255px, rgba(10,10,10,1) 410px);
    background: -moz-linear-gradient(top, rgba(10,10,10,0) 255px, rgba(10,10,10,1) 410px);  
    background: -ms-linear-gradient(top, rgba(10,10,10,0) 255px, rgba(10,10,10,1) 410px);  
    background: -o-linear-gradient(top, rgba(10,10,10,0) 255px, rgba(10,10,10,1) 410px);
  }
}
@media (min-width:641px) { 
  .down-gradient {
    background: linear-gradient(top, rgba(10,10,10,0) 250px, rgba(10,10,10,1) 520px); 
    background: -webkit-gradient(top, rgba(10,10,10,0) 250px, rgba(10,10,10,1) 520px);  
    background: -webkit-linear-gradient(top, rgba(10,10,10,0) 250px, rgba(10,10,10,1) 520px);  
    background: -moz-linear-gradient(top, rgba(10,10,10,0) 250px, rgba(10,10,10,1) 520px);  
    background: -ms-linear-gradient(top, rgba(10,10,10,0) 250px, rgba(10,10,10,1) 520px);  
    background: -o-linear-gradient(top, rgba(10,10,10,0) 250px, rgba(10,10,10,1) 520px);
  }
}
@media (min-width:961px) { 
  .down-gradient {
    background: linear-gradient(top, rgba(10,10,10,0) 400px, rgba(10,10,10,1) 620px); 
    background: -webkit-gradient(top, rgba(10,10,10,0) 400px, rgba(10,10,10,1) 620px);  
    background: -webkit-linear-gradient(top, rgba(10,10,10,0) 400px, rgba(10,10,10,1) 620px);  
    background: -moz-linear-gradient(top, rgba(10,10,10,0) 400px, rgba(10,10,10,1) 620px);  
    background: -ms-linear-gradient(top, rgba(10,10,10,0) 400px, rgba(10,10,10,1) 620px);  
    background: -o-linear-gradient(top, rgba(10,10,10,0) 400px, rgba(10,10,10,1) 620px);
  }
}
@media (min-width:1025px) { 
  .down-gradient {
    background: linear-gradient(top right, rgba(10,10,10,0) 460px, rgba(10,10,10,1) 640px); 
    background: -webkit-gradient(top right, rgba(10,10,10,0) 460px, rgba(10,10,10,1) 640px);  
    background: -webkit-linear-gradient(top right, rgba(10,10,10,0) 460px, rgba(10,10,10,1) 640px);  
    background: -moz-linear-gradient(top right, rgba(10,10,10,0) 460px, rgba(10,10,10,1) 640px);  
    background: -ms-linear-gradient(top right, rgba(10,10,10,0) 460px, rgba(10,10,10,1) 640px);  
    background: -o-linear-gradient(top right, rgba(10,10,10,0) 460px, rgba(10,10,10,1) 640px);
  }
}
@media (min-width:1280px) { 
  .down-gradient {
    background: linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 800px); 
    background: -webkit-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 800px);  
    background: -webkit-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 800px);  
    background: -moz-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 800px);  
    background: -ms-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 800px);  
    background: -o-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 800px);
  }
}
@media (min-width:1281px) { 
  .down-gradient {
    background: linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 1040px); 
    background: -webkit-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 1040px);  
    background: -webkit-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 1040px);  
    background: -moz-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 1040px);  
    background: -ms-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 1040px);  
    background: -o-linear-gradient(top, rgba(10,10,10,0) 520px, rgba(10,10,10,1) 1040px);
  }
}

@media (min-width:320px) { 
  .side-gradient {
    background: linear-gradient(right, rgba(10,10,10,0) 50px, rgba(10,10,10,.65) 200px); 
    background: -webkit-gradient(right, rgba(10,10,10,0) 50px, rgba(10,10,10,.65) 200px);  
    background: -webkit-linear-gradient(right, rgba(10,10,10,0) 50px, rgba(10,10,10,.65) 200px);  
    background: -moz-linear-gradient(right, rgba(10,10,10,0) 50px, rgba(10,10,10,.65) 200px);  
    background: -ms-linear-gradient(right, rgba(10,10,10,0) 50px, rgba(10,10,10,.65) 200px);  
    background: -o-linear-gradient(right, rgba(10,10,10,0) 50px, rgba(10,10,10,.65) 200px);
  }
}
@media (min-width:481px) { 
  .side-gradient {
    background: linear-gradient(right, rgba(10,10,10,0) 155px, rgba(10,10,10,.65) 310px); 
    background: -webkit-gradient(right, rgba(10,10,10,0) 155px, rgba(10,10,10,.65) 310px);  
    background: -webkit-linear-gradient(right, rgba(10,10,10,0) 155px, rgba(10,10,10,.65) 310px);  
    background: -moz-linear-gradient(right, rgba(10,10,10,0) 155px, rgba(10,10,10,.65) 310px);  
    background: -ms-linear-gradient(right, rgba(10,10,10,0) 155px, rgba(10,10,10,.65) 310px);  
    background: -o-linear-gradient(right, rgba(10,10,10,0) 155px, rgba(10,10,10,.65) 310px);
  }
}
@media (min-width:641px) { 
  .side-gradient {
    background: linear-gradient(right, rgba(10,10,10,0) 250px, rgba(10,10,10,.65) 520px); 
    background: -webkit-gradient(right, rgba(10,10,10,0) 250px, rgba(10,10,10,.65) 520px);  
    background: -webkit-linear-gradient(right, rgba(10,10,10,0) 250px, rgba(10,10,10,.65) 520px);  
    background: -moz-linear-gradient(right, rgba(10,10,10,0) 250px, rgba(10,10,10,.65) 520px);  
    background: -ms-linear-gradient(right, rgba(10,10,10,0) 250px, rgba(10,10,10,.65) 520px);  
    background: -o-linear-gradient(right, rgba(10,10,10,0) 250px, rgba(10,10,10,.65) 520px);
  }
}
@media (min-width:961px) { 
  .side-gradient {
    background: linear-gradient(right, rgba(10,10,10,0) 400px, rgba(10,10,10,.65) 620px); 
    background: -webkit-gradient(right, rgba(10,10,10,0) 400px, rgba(10,10,10,.65) 620px);  
    background: -webkit-linear-gradient(right, rgba(10,10,10,0) 400px, rgba(10,10,10,.65) 620px);  
    background: -moz-linear-gradient(right, rgba(10,10,10,0) 400px, rgba(10,10,10,.65) 620px);  
    background: -ms-linear-gradient(right, rgba(10,10,10,0) 400px, rgba(10,10,10,.65) 620px);  
    background: -o-linear-gradient(right, rgba(10,10,10,0) 400px, rgba(10,10,10,.65) 620px);
  }
}
@media (min-width:1025px) { 
  .side-gradient {
    background: linear-gradient(right, rgba(10,10,10,0) 460px, rgba(10,10,10,.65) 640px); 
    background: -webkit-gradient(right, rgba(10,10,10,0) 460px, rgba(10,10,10,.65) 640px);  
    background: -webkit-linear-gradient(right, rgba(10,10,10,0) 460px, rgba(10,10,10,.65) 640px);  
    background: -moz-linear-gradient(right, rgba(10,10,10,0) 460px, rgba(10,10,10,.65) 640px);  
    background: -ms-linear-gradient(right, rgba(10,10,10,0) 460px, rgba(10,10,10,.65) 640px);  
    background: -o-linear-gradient(right, rgba(10,10,10,0) 460px, rgba(10,10,10,.65) 640px);
  }
}
@media (min-width:1280px) { 
  .side-gradient {
    background: linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 800px); 
    background: -webkit-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 800px);  
    background: -webkit-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 800px);  
    background: -moz-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 800px);  
    background: -ms-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 800px);  
    background: -o-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 800px);
  }
}
@media (min-width:1281px) { 
  .side-gradient {
    background: linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 1040px); 
    background: -webkit-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 1040px);  
    background: -webkit-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 1040px);  
    background: -moz-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 1040px);  
    background: -ms-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 1040px);  
    background: -o-linear-gradient(right, rgba(10,10,10,0) 520px, rgba(10,10,10,.65) 1040px);
  }
}

 /*
 Bootstrap Overrides
  */

.modal {
  overflow: visible; /*This ensures that modals display correctly in ios*/
}

 .nav>li>a {
  border-radius: 0;
  white-space: nowrap; /*fixes issue with text wrapping in nav-justified*/
 }

 .nav>li>a:hover, .nav>li>a:focus {
  color: #fff;
  background-color: transparent;
 }

.nav-tabs.nav-justified>li>a {
  border: none;
 }

 .nav-tabs.nav-justified>li>a:hover {
  border-bottom: 2px solid #666;
  border-left: none;
  border-right: none;
  border-top: 2px solid #666;
  border-radius: 0;
 }

 .nav-tabs>li.active>a, 
 .nav-tabs>li.active>a:hover, 
 .nav-tabs>li.active>a:focus {
  background-color: transparent;
 }

 .nav-tabs.nav-justified>.active>a, 
 .nav-tabs.nav-justified>.active>a:hover, 
 .nav-tabs.nav-justified>.active>a:focus {
  border-bottom: 2px solid #fff;
  border-left: none;
  border-right: none;
  border-top: 2px solid #fff;
  border-radius: 0;
  color: #fff;
 }

.nav-tabs.nav-justified {
  margin: 0 auto;
}

.visible-lg.nav {
  margin-bottom: 1em;
}

 .panel {
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.panel-default>.panel-heading {
  background-color: transparent;
}

.panel-heading {
  padding: 20px 15px;
}

.panel-title {
  font-size: inherit;
}

.panel-title>a {
  color: #fff;
}

.visible-xs a:hover,
.visible-xs a:focus,
.panel-title>a:hover {
  text-decoration: none;
}

.dropdown-menu {
  background-color: inherit;
  border: none;
  box-shadow: none;
  width: 100%;
  text-align: center;
  bottom: auto !important;
  padding: 0;
}

.btn-info {
  color: #887C64;
  background-color: #D5C9A3;
  border: none;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  color: #D5C9A3;
  background-color: #887C64;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.logo-link:hover,
.logo-link:focus {
  text-decoration: none;
}

.glyphicon {
  font-size: 20px;
  vertical-align: bottom;
}

/* Typography */

html, body {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-family: 'Quicksand', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, .h1 {
  font-size: 2.75em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: -3px;
}

p {
  letter-spacing: 0;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.copyright {
  color: #666;
  font-size: .65em;
}

.copyright a {
  color: #666;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
  .subheading {
    font-size: 1.5em;
}
}

.scrim {
  background: rgb(25, 25, 25);
  background: rgba(25,25,25,0.65);
  margin-bottom: 1em;
}
/*
@media (max-width:767px) {
  .mobile-scrim {
    margin: 1em 0;
    padding: .75em;
    background: rgba(25,25,25,0.65);
  }
}*/

  /*Menu Typography*/
      
    .category-section {
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    .item-name {
      font-size: 1.2em;
    }

    .item-description {
      color: #999;
      font-style: italic;
    }

/*
 * Base structure
 */

html,
body {
  background-color: rgb(10, 10, 10);
  text-rendering: optimizeLegibility;
  z-index: -1;
  color: #fff;

  overflow-y: scroll; 
}

body {
  height: 100% !important; /*This makes the scrolling stop at the footer*/
}

/* Padding for spacing */
.inner {
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

label {
  margin-top: 1em;
  width: 100%;
}

article {
  padding-bottom: 1em;
}

/*
 * Header
 */

.brand {
  width: 100%;
  text-align: right;
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.brand a:hover,
.brand a:focus {
  border-bottom: 4px solid;
  border-bottom-color: rgb(255,255,255);
  border-bottom-color: rgba(255,255,255,.75);
}

@media (min-width: 768px) {
  .brand {
    border: none;
    font-size: 8em;
    text-align: right;
  }
}

.welcome-head {
  width: 100%;

  background: linear-gradient(top, rgba(10,10,10,.75) 10%, rgba(10,10,10,0) 100%); 
    background: -webkit-gradient(top, rgba(10,10,10,.75) 10%, rgba(10,10,10,0) 100%);  
    background: -webkit-linear-gradient(top, rgba(10,10,10,.75) 10%, rgba(10,10,10,0) 100%);  
    background: -moz-linear-gradient(top, rgba(10,10,10,.75) 10%, rgba(10,10,10,0) 100%);  
    background: -ms-linear-gradient(top, rgba(10,10,10,.75) 10%, rgba(10,10,10,0) 100%);  
    background: -o-linear-gradient(top, rgba(10,10,10,.75) 10%, rgba(10,10,10,0) 100%);  
}

/*
* Content
*/

.half-down {
  top: 60%;
}

.menu.nav {
  border-bottom: 1px solid #fff;
  margin-bottom: 1em;
}

.sm-img {
  height: auto;
  margin-bottom: 1em;
  width: 100%;
}

iframe {
  position: relative;
  margin: 150px 0 0 0;

/* make map black and white */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

@media (min-width: 768px) {
  iframe {
    height: 300px;
  }
}

/* PARALLAX SCROLLING STUFF */

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  bottom: 200px;
  top: auto;
  display: table-cell;
  vertical-align: top;
  color: #eee;
  padding-right: 8%;
  padding-top: 0;
  padding-left: 8%;
}

/*
 Images
 */

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: auto;
}

@media (min-width: 768px) {
  .bcg {
    /*Make images fit-to-screen on ios devices*/
    background-attachment: scroll; 
  }
}

/* Welcome */

@media (max-width:320px) { #welcome .bcg, #admin-welcome .bcg {background-image: url('./images/welcome/welcome_320.jpg');}/* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px) { #welcome .bcg, #admin-welcome .bcg {background-image: url('./images/welcome/welcome_481.jpg');}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px) { #welcome .bcg, #admin-welcome .bcg {background-image: url('./images/welcome/welcome_641.jpg');}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (max-width:961px) { #welcome .bcg, #admin-welcome .bcg {background-image: url('./images/welcome/welcome_961.jpg');}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { #welcome .bcg, #admin-welcome .bcg {background-image: url('./images/welcome/welcome_1025.jpg');}/* big landscape tablets, laptops, and desktops */ }
@media (max-width:1280px) { #welcome .bcg, #admin-welcome .bcg {background-image: url('./images/welcome/welcome_1281.jpg');}/* hi-res laptops and desktops */ }
@media (min-width:1281px) { #welcome .bcg, #admin-welcome .bcg {background-image: url('./images/welcome/welcome_1281.jpg');}/* hi-res laptops and desktops */ }

#welcome {
  height: 100%;
}

#welcome .bcg {
  -webkit-background-position: top;
    -moz-background-position: top;
    -o-background-position: top;
  background-position: top;
}

/* Menu */

#menu-msg .bcg {
    background-color: rgb(10, 10, 10);
    padding: 20px 0 20px 0;
}

#menu-msg h1 {
  margin: 1em 0;
}

#menu .bcg {
  background-color: rgb(10, 10, 10);
  background-position: top center;
  background-size: 100%;
  background-attachment: scroll;
}

@media (max-width:320px) { #menu .bcg {background-image: url('./images/menu/menu_320.jpg');}/* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px) { #menu .bcg {background-image: url('./images/menu/menu_481.jpg');}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px) { #menu .bcg {background-image: url('./images/menu/menu_641.jpg');}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (max-width:961px) { #menu .bcg {background-image: url('./images/menu/menu_961.jpg');}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { #menu .bcg {background-image: url('./images/menu/menu_1025.jpg');}/* big landscape tablets, laptops, and desktops */ }
@media (max-width:1280px) { #menu .bcg {background-image: url('./images/menu/menu_1281.jpg');}/* hi-res laptops and desktops */ }
@media (min-width:1281px) { #menu .bcg {background-image: url('./images/menu/menu_1281.jpg');}/* hi-res laptops and desktops */ }

/* Hours */

@media (max-width:320px) { #hours .bcg {background-image: url('./images/hours/hours_320.jpg');}/* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px) { #hours .bcg {background-image: url('./images/hours/hours_481.jpg');}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px) { #hours .bcg {background-image: url('./images/hours/hours_641.jpg');}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (max-width:961px) { #hours .bcg {background-image: url('./images/hours/hours_961.jpg');}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { #hours .bcg {background-image: url('./images/hours/hours_1025.jpg');}/* big landscape tablets, laptops, and desktops */ }
@media (max-width:1280px) { #hours .bcg {background-image: url('./images/hours/hours_1281.jpg');}/* hi-res laptops and desktops */ }
@media (min-width:1281px) { #hours .bcg {background-image: url('./images/hours/hours_1281.jpg');}/* hi-res laptops and desktops */ }

@media (min-width: 768px) {
  #hours .bcg .hsContainer {
    padding: 8em 0 8em 0;
  }
}

/* Contact */

#contact .bcg {
  background-color: rgb(10, 10, 10);
}


@media (max-width: 767px) {
  #contact .inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.contact-btn {
  margin-bottom: 1em;
}

/* Find Us */

@media (max-width:320px) { #find-us .bcg {background-image: url('./images/find-us/find-us_320.jpg');}/* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px) { #find-us .bcg {background-image: url('./images/find-us/find-us_481.jpg');}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px) { #find-us .bcg {background-image: url('./images/find-us/find-us_641.jpg');}/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (max-width:961px) { #find-us .bcg {background-image: url('./images/find-us/find-us_961.jpg');}/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (max-width:1025px) { #find-us .bcg {background-image: url('./images/find-us/find-us_1025.jpg');}/* big landscape tablets, laptops, and desktops */ }
@media (max-width:1280px) { #find-us .bcg {background-image: url('./images/find-us/find-us_1281.jpg');}/* hi-res laptops and desktops */ }
@media (min-width:1281px) { #find-us .bcg {background-image: url('./images/find-us/find-us_1281.jpg');}/* hi-res laptops and desktops */ }


#find-us .bcg {
  text-align: left;
}

@media (min-width: 768px) {
  #find-us .bcg .hsContainer {
    padding: 8em 0 8em 0;
  }
}

#find-us .btn-info {
  background-color: rgb(5,5,5);
  background-color: rgba(5,5,5,.3);
  margin: .5em 0 .5em 0;
}

#find-us .btn-info:hover,
#find-us .btn-info:active {
  background-color: rgb(250,250,250);
  background-color: rgba(250,250,250,.3);
}


/* Slide 4 */

.footer .bcg {
  background: #111;
}

/* Menu */

.menu {
  font-size: .85em;
}

#menu h1 {
  margin: 1em 0;
}

.menu-bcg {
  width: 100%;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .menu-bcg {
  width: 50%;
}
}

.menu-intro {
  padding-bottom: 1em;
}

.panel-title:active,
.panel-title:active {
  color: #444;
}

.menu-msg {
  min-height: 20px;
  min-width: 100%;
  display: block;
  overflow: hidden;
}

.menu-msg:after {
  content: '.';
  visibility: hidden;
}

/*
* Navbar
*/

.backdrop {
  background-color: rgb(75, 75, 75);
  background-color: rgba(75, 75, 75, .9);
  padding: 1em 0 1em 0;
  border: 1px solid #444;
  border-radius: 1em;
  width: 100%;
}

.dropdown-menu li {
  width: 100%;
}

/*
 * Footer
 */

.footer {
  background: #111;
  width: 100%;
  position: absolute;
}

/*
BlackOut Screen
*/

/*.blackout-page-wrapper {
  position: fixed;
  background-color: rgba(100, 100, 100, .75);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  padding-top: 4em;
}
*/
/*
Admin
 */

#admin-welcome {
  height: 100%;
}

#admin-welcome .bcg {
  -webkit-background-position: top;
    -moz-background-position: top;
    -o-background-position: top;
  background-position: top;
}

.taskbar {
  position: absolute;
  bottom: auto;

  text-align: center;
  height: 60px;
  width: 100%;
  padding: 0 1em 0 1em;

  margin-top: -60px;

  background-color: rgb(1, 1, 1);
  background-color: rgba(1, 1, 1, .9);
  z-index: 99
}

@media (min-width: 768px) {
  .taskbar {
    width: 100%;
  }
}

.taskbar.affix {
  position: fixed;
  top: 0;
  bottom: auto;
  
  margin-top: 0;
  display: inline-block;
}

.taskbar li,
.taskbar.affix li {
  display: inline-block;
}

.btn-taskbar {
  background-color: rgba(75, 75, 75, .75);
  color: #fff;
}

.btn-taskbar:hover,
.btn-taskbar:active,
.btn-taskbar:focus {
  outline: none;
  color: #fff;
  text-decoration: underline;
}

.modal-dialog {
  background-color: #444;
  border-radius: 1em;
}
.modal-content,
.modal-body {
  background-color: inherit;
  color: inherit;
}

.add-form input,
.user-form input,
.edit-form input,
select,
button {
  margin-top: .5em;
  font-family: 'Quicksand', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.add-form button,
.edit-form button,
.user-form button {
  margin-top: 2em;
}

.add-form input,
.user-form input,
.edit-form input,
select {
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
  border-radius: .25em;
}

.add-form input,
.user-form input,
.edit-form input {
  padding-left: .4em
}

.add-form select,
.user-form select,
.edit-form select {
  background-color: #444;
  display: inherit;
}

.delete-msg,
.delete-confirmation,
.menu-msg,
.add-msg,
.error-msg {
  position: fixed;
  z-index: 1000;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .5);
}

.delete-msg h3,
.delete-confirmation h3,
.add-msg h3,
.error-msg h3,
.menu-msg h3 {
  margin: 1em 1em auto 1em;

  text-align: center;
  font-weight: 700;
}

.delete-confirmation div {
  height: auto;
  overflow: hidden;
  margin: 1em 1em auto 1em;
}

.delete-confirmation div button {
  margin-top: 1em;
}
