/*
 Globals
 */

.hidden {
  display: none;
}
 /*
 Bootstrap Overrides
  */

.modal {
  overflow: visible; /*This ensures that modals display correctly in ios*/
}

 .nav>li>a {
  border-radius: 0;
  white-space: nowrap; /*fixes issue with text wrapping in nav-justified*/
 }

 .nav>li>a:hover, .nav>li>a:focus {
  color: #fff;
  background-color: transparent;
 }

.nav-tabs.nav-justified>li>a {
  border: none;
 }

 .nav-tabs.nav-justified>li>a:hover {
  border-bottom: 2px solid #666;
  border-left: none;
  border-right: none;
  border-top: 2px solid #666;
  border-radius: 0;
 }

 .nav-tabs>li.active>a, 
 .nav-tabs>li.active>a:hover, 
 .nav-tabs>li.active>a:focus {
  background-color: transparent;
 }

 .nav-tabs.nav-justified>.active>a, 
 .nav-tabs.nav-justified>.active>a:hover, 
 .nav-tabs.nav-justified>.active>a:focus {
  border-bottom: 2px solid #fff;
  border-left: none;
  border-right: none;
  border-top: 2px solid #fff;
  border-radius: 0;
  color: #fff;
 }

.nav-tabs.nav-justified {
  margin: 0 auto;
}

.visible-lg.nav {
  margin-bottom: 1em;
}

 .panel {
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-radius: 0 !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel-default>.panel-heading {
  background-color: transparent;
}

.panel-heading {
  padding: 20px 15px;
}

.panel-title {
  font-size: inherit;
}

.panel-title>a {
  color: #fff;
}

.visible-xs a:hover,
.visible-xs a:focus,
.panel-title>a:hover {
  text-decoration: none;
}

.dropdown-menu {
  background-color: inherit;
  border: none;
  box-shadow: none;
  width: 100%;
  text-align: center;
  bottom: auto !important;
  padding: 0 0 0 0;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.logo-link:hover,
.logo-link:focus {
  text-decoration: none;
}

.glyphicon {
  font-size: 20px;
  vertical-align: bottom;
}

/* Typography */

html, body {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-family: 'Quicksand', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, .h1 {
  font-size: 2.75em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: -3px;
}

p {
  letter-spacing: 0px;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.copyright {
  color: #666;
  font-size: .65em;
}

.copyright a {
  color: #666;
}

.text-right {
  text-align: right;
}

@media (max-width: 767px) {
  .subheading {
    font-size: 1.5em;
}
}

  /*Menu Typography*/
      
    .category-section {
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    .item-name {
      font-size: 1.2em;
    }

    .item-description {
      color: #999;
      font-style: italic;
    }

/*
 * Base structure
 */

html,
body {
  height: 100% !important;
  background-color: #222;
  text-rendering: optimizeLegibility;
  z-index: -1;
  color: #fff;
}

/* Padding for spacing */
.inner {
  padding: 20px;
  margin: 0 auto;
  max-width: 1000px;
}

label {
  margin-top: 1em;
  width: 100%;
}

article {
  padding-bottom: 1em;
}

/*
 * Header
 */

.brand {
  width: 100%;
  text-align: right;
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  position: relative;
  border-bottom: 1px solid #eee;
}

.brand a:hover,
.brand a:focus {
  border-bottom: 4px solid;
  border-bottom-color: rgba(255,255,255,.75);
}

@media (min-width: 768px) {
  .brand {
    border: none;
    font-size: 8em;
    text-align: right;
    margin-top: -.8em;
  }
}

/*
* Content
*/

.content-block {
  position: absolute;
  width: 100%;

}

.push-down {
  top: 100%;
}

.center {
  text-align: center;
}

.menu.nav {
  border-bottom: 1px solid #fff;
  margin-bottom: 1em;
}

.sm-img {
  height: auto;
  width: 100%;
}

iframe {
  margin: 1em 0 1em 0;

/* make map black and white */
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

/* PARALLAX SCROLLING STUFF */

#skrollr-body,
.skrollr-body {
  height: 100%;
  background: inherit;
  position: relative;
}

.bcg-gradient {
  height: 100%;
  width: auto;
  /*bottom: 0;*/
  /*top: auto;*/

  background: -webkit-linear-gradient(top, rgba(15,15,15,1) 50%, rgba(15,15,15,0) 100%);  
    background: -moz-linear-gradient(top, rgba(15,15,15,1) 50%, rgba(15,15,15,0) 100%);  
    background: -ms-linear-gradient(top, rgba(15,15,15,1) 50%, rgba(15,15,15,0) 100%);  
    background: -o-linear-gradient(top, rgba(15,15,15,1) 50%, rgba(15,15,15,0) 100%);  
    background: linear-gradient(top, rgba(15,15,15,1) 50%, rgba(15,15,15,0) 100%); 
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 768px) {
  .bcg-gradient {
    background: none;
  }
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
  position: relative;
}

.hsContent {
  /*margin: -2em auto 0 auto;*/
  bottom: 200px;
  top: auto;
  display: table-cell;
  vertical-align: top;
  color: #eee;
  padding: 0 8%;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  height: 100%;
  /*overflow: hidden;*/
  /*position: relative;*/
}

/* Slide 1 */
#welcome .bcg {
  position: fixed;
  height: 100%;
  /*top: auto;*/
  /*bottom: auto;*/
  background-image: url('./images/final/welcome-sm.png');
}

@media (min-width: 768px) {
  #welcome .bcg {
  background-image: url('./images/final/welcome.png');
  }
}

/* Slide 2 */
#menu .bcg {
    /*background-color: #222;*/
    background-image:url('./images/dinner-lamb2.jpg');
}

/* Slide 3 */
#hours .bcg {
  background-image:url('./images/final/hours.png');
}

@media (min-width: 768px) {
  #hours .bcg {
    background: url('./images/final/hours.png');
    padding: 6em 0 6em 0;
  }
}

/* Contact Slide */

#contact .bcg {
  background-image:url('./images/final/contact.png');
  text-align: right;
}

@media (min-width: 768px) {
  #contact .bcg {
    background: url('./images/final/contact.png');
    padding: 6em 0 6em 0;
  }
}

#contact .btn-info {
  background-color: rgba(5,5,5,.3);
  margin: .5em 0 .5em 0;
}

#contact .btn-info:hover,
#contact .btn-info:active {
  background-color: rgba(250,250,250,.3);
}


/* Slide 4 */

.footer .bcg {
  background: #222;
}

/* Menu */

.menu {
  font-size: .85em;
}

#menu h1 {
  margin: 1em 0;
}

.menu-bcg {
  width: 100%;
  margin-bottom: 1em;
}

.menu-bcg.inner {
  padding: 0 20px;
}

.scrim {
  background: rgba(25,25,25,0.65);
}



@media (min-width: 768px) {
  .menu-bcg {
  width: 50%;
}
}

.menu-intro {
  padding-bottom: 1em;
}

.panel-group {
  padding-bottom: 1em;
}

.panel-title:active,
.panel-title:active {
  color: #444;
}

.menu-msg {
  min-height: 20px;
  min-width: 100%;
  display: block;
  overflow: hidden;
}

.menu-msg:after {
  content: '.';
  visibility: hidden;
}

/*
* Navbar
*/

.backdrop {
  background-color: rgba(75, 75, 75, .9);
  padding: 1em 0 1em 0;
  border: 1px solid #444;
  border-radius: 1em;
  width: 100%;
}

.dropdown-menu li {
  width: 100%;
}

/*
 * Footer
 */

.footer {
  background: ##222;
  width: 100%;
  position: absolute;
}

/*
BlackOut Screen
*/

.blackout-page-wrapper {
  position: fixed;
  background-color: rgba(100, 100, 100, .75);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  padding-top: 4em;
}

/*
Admin
 */

.taskbar {
  position: absolute;
  bottom: auto;

  text-align: center;
  height: 60px;
  width: 100%;

  margin-top: -60px;

  background-color: rgba(1, 1, 1, .9);
  z-index: 99
}

@media (min-width: 768px) {
  .taskbar {
    width: 100%;
  }
}

.taskbar.affix {
  position: fixed;
  top: 0;
  bottom: auto;
  
  margin-top: 0;
  display: inline-block;
}

.taskbar li,
.taskbar.affix li {
  display: inline-block;
}

.btn-taskbar {
  background-color: rgba(75, 75, 75, .75);
  color: #fff;
}

.btn-taskbar:hover,
.btn-taskbar:active,
.btn-taskbar:focus {
  outline: none;
  color: #fff;
  text-decoration: underline;
}

.modal-dialog {
  background-color: #444;
  border-radius: 1em;
}
.modal-content,
.modal-body {
  border-radius: inherit;
  background-color: inherit;
  color: inherit;
}

.add-form input,
.user-form input,
.edit-form input,
select,
button {
  margin-top: .5em;
  font-family: 'Quicksand', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.add-form button,
.edit-form button,
.user-form button {
  margin-top: 2em;
}

.add-form input,
.user-form input,
.edit-form input,
select {
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
  border-radius: .25em;
}

.add-form input,
.user-form input,
.edit-form input {
  padding-left: .4em
}

.add-form select,
.user-form select,
.edit-form select {
  background-color: #444;
  display: inherit;
}

.delete-msg,
.delete-confirmation,
.menu-msg,
.add-msg,
.error-msg {
  position: fixed;
  z-index: 100;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.delete-msg h3,
.delete-confirmation h3,
.add-msg h3,
.error-msg h3,
.menu-msg h3 {
  margin: 1em 1em auto 1em;

  text-align: center;
  font-weight: 700;
}

.delete-confirmation div {
  height: auto;
  overflow: hidden;
  margin: 1em 1em auto 1em;
}

.delete-confirmation div button {
  margin-top: 1em;
}
