<section class="chez-menu--bg">
  <div class="chez-menu--scrim scrim row mg-top-near mg-bottom-near">
    <ul
      class="chez-menu--ul pd-near"
      ng-repeat="category in categories" >
      <h3 class="chez-menu--section mg-bottom-near">
        {{ category | stripDashes }}
      </h3>
      <li
        class="chez-menu--li"
        ng-repeat="menu_item in items_sorted_by(category)">
        <h5 class="chez-menu--name">
          {{ menu_item.name }}
          <span class="right">
            {{ menu_item.price }}
          </span>
        </h5>
        <p class="light-gray t-italics">
          {{ menu_item.description }}
        </p>
      </li>
    </ul>
  </div>
</section>